@import "compass/CSS3";
@import "animate";

.animated {
  -webkit-animation-duration: 1s;
  animation-duration: 1s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
}

body{
	background-color: #e4e2e3;
}

.mainmenu{
	li{
		list-style: none;
		display: inline-block;
		a{
			padding: 1em;
		}
	}
}


// Animation

.ng-enter {
	@extend .animated;
    -webkit-animation-name: fadeInUp;
  	animation-name: fadeInUp;
}
.ng-enter-active {
	@extend .animated;
    -webkit-animation-name: fadeInUp;
  	animation-name: fadeInUp;
}
.ng-leave {
	opacity: 1;
}
.ng-leave-active {
	opacity: 0;
}